body{
    overflow-x: hidden;
}

.input-box { position: relative; }



.unit { position: absolute; display: block; left: 20px; top: 10px; z-index: 9; }
.empty-space{
    margin-bottom: 20px;
}

.header-top{
    height:40px;
    background: #156192;
    opacity: 5;
    border-bottom: 1px solid #2d719d;
}
#mainmenu{
    background: #156192 !important;
    border-top: 1px solid #2d719d !important;
}
ul{
    list-style:none;
}

.header-top-content ul li{
    color: #fff;
    padding-right: 20px;
    float: left;
}
.vendor-button{
    color: #000;
    text-decoration: none;
    position: relative;
    top: 9px;
    right: 18%;
    padding: 10px;
    background: #fff;
    font-weight: 600;
}
.vendor-button a:focus,.vendor-button a:hover {
    color: #000;
    background: #fff;
    text-decoration: none !important;
}
.admin_button{
    color: #fff;
    text-decoration: none;
    position: relative;
    top: 9px;
    right: 18%;
    padding: 10px;
    background: #FF9800;
    font-weight: 600;
}
.search-bar{
    width: 330px !important;
    padding: 12px!important;
    border-bottom-left-radius: 15px !important;
    border-top-left-radius: 15px!important;
    border:  2px #156192 solid!important;
    height:52px !important;

}
.search-button {
    padding: 15px 31px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #156192;
    border-color: #156192;
    position: relative;
    right: 1%;

}
.header_right_first{
    padding-right: 80px;
    float: left;
}
.account_button {
    padding-left: 60px;
    position: relative;
    bottom: 33px;
    padding-right: 30px;
}
.header_right_last{
    position: relative;
    float: left;
}
.guest_text,.cart_text{
    display: block;
    color: #888;
}
.login_area,.sub_cart{
    position: relative;
    bottom:37px;
    left:60%;
}
.top_login{
    color: #222222 !important;
}
.cart_price{
    color: #156192;
    font-size: 14px;
    font-weight:700;
}

.account_dropdown>li>a {
    padding: 12px 20px;
}
/********************************main Menu*******************************/
#mainmenu{
    background: #f2f2f2;

}
.navmenu{
    background: transparent;
    border: none;
    top:5px;

}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #FF9800 !important;
    background-color: transparent !important;

}
.navbar-default .navbar-nav>li>a {
    text-transform: uppercase;
    background-color: transparent;
    padding: 11px 18px;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    border-right: 1px solid #2d719d;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color:#FF9800 !important;
    background: transparent!important;
}


#owl-demo .item{
    background: #fff;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}
.main{

    padding:10px;
}
.customNavigation{
    text-align: center;
}
.customNavigation a{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.product-details>p{
    color: #000;
    font-size: 18px;
}
.main {
    position: relative;
    width: 100%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(21, 97, 146,.2);
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
}

.main:hover .overlay {
    bottom: 0;
    height: 100%;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.overlaybtn{
    margin-bottom: 10px;
}
.ratings{
    display: inline-flex;
    color: gold;
    margin-right: 11%;
}
#policy{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #efefef;
    padding: 10px;
}
.policyicon{
    font-size: 40px;
    padding: 0px 10px 0px 10px;
}
.support {
    border-right: 1px solid #efefef;
}
.support-link{
    color: #333e48;
}
.support:hover .policyicon{
    color: #febf00;
    animation: 500ms ease-in-out 0s normal none 1 running pulse;
}

.support:last-child{
    border-right:none !important;
}
.border-tab {
    border-top: 3px solid #ddd;
    border-bottom: 3px solid #ddd;
}
.nav>li>a:focus, .nav>li>a:hover,.nav>li>a:active{
    color: #F3A847;
    border-bottom: 3px solid #F3A847;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    color: #F3A847;
    border-bottom: 3px solid #F3A847;
    animation: 500ms ease-in-out 0s normal none 1 running pulse;
}
.nav-tabs>li>a {
    margin-right: 0px;
    line-height: 1.42857143;
    border: none ;
    border-right: 1px solid #e2e2e2;
    text-transform: uppercase;
    font-size: 12px;
    color: #555;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    border-radius:0px;
    padding: 20px 10px;
}
.nav-tabs>li:first-child {
    border-left: 1px solid #e2e2e2;


}
.nav-tabs {
    border-bottom: none !important;
    position: relative;
    left:30%;
}
#tabproducts {
    margin-left: 50px;
    margin-right: 50px;
}

.eachproduct{
    border: 1px solid #efefef;
    max-width: 24%;
    margin-right: 12px;
    margin-bottom: 20px;
    position: relative;
}
.product-action{
    display: none;

}
.eachproduct:hover  .product-action {
    position: absolute;
    display: block;
    top: 37%;
    left: 30%;
    transition: .5s all ease-in;
}
.ratings_tab {
    display: inline-flex;
    color: gold;
    position: relative;
    left: 21%;
}
.text-center{
    text-align: center!important;
}
#owl-demo .item{
    border:1px solid #efefef;
}
.product-categories{
    border: 1px solid #337ab7;
}
.product-categories>ul>li>a{
    color: #333333;
    font-size: 16px;
}
.product-categories>ul>li>a:hover{
    color: #fff;
    background-color: rgba(21, 97, 146,.2);
}
#btnCategoryOpen{
    width: 100%;
}

.list-group-item:hover{
    background-color: rgba(21, 97, 146,.2);
}
i.fa.fa-shopping-bag {
    font-size: 31px;
    color: #337ab7;
}
.wrap-sidebar{
    border-right: 1px solid #efefef;
}
.user-sidebar{
    position:relative;
    right: 8%;
}
.user-sidebar>li{
    padding:10px;
    border-bottom:1px solid #efefef;
}
.user-sidebar>li>a{
    color: #868686;
    font-size: 18px;
}
.user-sidebar>li>a:hover{
    color:rgba(17,17,17,0.85);
    transition: all .2s;
}
.top-text-user{
    font-family:"Open Sans",Serif;
    font-size:16px;
    line-height:26px;
    font-weight:400;

}
.User-button{
    display: block;
    border-radius: 5px;
    padding: 20px 0;
    border: 1px solid #ddd;
    text-align: center;
    margin-right: 10px;
    transition: all .3s;
    color: #334862;
    font-size: 21px;
    font-family:"Open Sans",sans-serif;

}
.userdetails{
    text-transform: capitalize;
}
.user-top-details{
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}
.footer-row{
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.subscriber-footer{
    height:200px;

    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url("http://7uptheme.com/wordpress/iustore/wp-content/uploads/2018/03/slide2.jpg");
    background-position: center;
    background-repeat:no-repeat;

}
.singleimage{
    border:1px solid #efefef;
}
.subscribe-content {
    vertical-align: middle;
    position: relative;
    top: 40%;
    left: 15%;
}
#subscribeField {
    padding: 24px;
}
#subscibeSubmit {
    padding: 14px;
    position: relative;
    right: 16%;
}
.social-list>li>a {
    padding: 20px;
}
.iconpackFooter {
    background: #fff;
    font-size: 21px;
    padding: 23px;
    border-radius: 36px;
}
.iconpackFooter:hover{
    color: #000;
}

/*-- //banner-top --*/
.carousel-caption {
    position: inherit;
    min-height:600px!important;
    padding-top:10em;
}
.footer-bottom{
   margin-top: 20px;
    margin-bottom: 20px;
    background: #efefef;
    padding: 20px;
}
.footer-bottom>p{
    text-align: center;
    color: #000;
}
.copyright{
    color: #337ab7;
    font-weight:600;
}


/*-- banner --*/
.carousel .item{
    background:linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(https://images8.alphacoders.com/577/thumb-1920-577341.jpg) no-repeat;
    background-size:cover;
}
.carousel .item.item2{
    background:linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(https://ak4.picdn.net/shutterstock/videos/30734164/thumb/1.jpg) no-repeat;
    background-size:cover;
}
.carousel .item.item3{
    background:linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(https://images8.alphacoders.com/577/thumb-1920-577341.jpg) no-repeat;
    background-size:cover;
}
.carousel .item.item4{
    background:linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(https://images8.alphacoders.com/577/thumb-1920-577341.jpg) no-repeat;
    background-size:cover;
}
.carousel .item.item5{
    background:linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(https://images8.alphacoders.com/577/thumb-1920-577341.jpg) no-repeat;
    background-size:cover;
}

.carousel-caption h2, .carousel-caption h3 {
    font-size: 3em;
    font-weight: 300;
    letter-spacing: 14px;
    text-transform: uppercase;
}
.carousel-caption h2 span, .carousel-caption h3 span{
    font-weight: 800;
    color: #2fdab8;
}
.carousel-caption p {
    letter-spacing: 12px;
    font-size: 1.2em;
    font-weight: 600;
    color: #ffb900;
    margin-top: 1em;
}
.carousel-caption a {
    color: #fff;
    letter-spacing: 3px;
    padding: 8px 20px;
    margin-top: 2em;
}
.codes{
    padding:5em 0;
    background:#fff;
}
.codes.agileitsbg2 {
    background: #E74C3C;
    background-image: linear-gradient(#ff9d2f, #ff6126);
    padding-bottom: 10em;
}
.codes.agileitsbg3 {
    background: #3498DB;
    padding-bottom: 10em;
}
.codes.agileitsbg4 {
    background: #2ECC71 ;
    padding-bottom: 10em;
}
.carousel.slide.grid_3.grid_4 {
    border-top: 10px solid #3ACFD5;
    border-bottom: 10px solid #3a4ed5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    -webkit-background-size: 10px 100%;
    -moz-background-size: 10px 100%;
    background-size: 10px 100%;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dÃ¢â‚¬Â¦0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=),url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dÃ¢â‚¬Â¦0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%), -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
    background-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%), -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
    background-image: -o-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%), -o-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
    background-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%), linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
}
.carousel-indicators {
    bottom: 8%;
}
.carousel-control{
    background: transparent !important;
}




